Repository feos-org/feos, pull requests merged in 2022-07, with the labels that each got.

#27 New workspace crate for reusable implementations of SAFT
  .github/workflows/release_saft.yml
  .github/workflows/test.yml
  Cargo.toml
  feos-dft/CHANGELOG.md
  feos-dft/src/lib.rs
  feos-saft/Cargo.toml
  feos-saft/docs-header.html
  feos-saft/license-apache
  feos-saft/license-mit
  feos-saft/src/association/dft.rs
  feos-saft/src/association/mod.rs
  feos-saft/src/association/python.rs
  feos-saft/src/hard_sphere/dft.rs
  feos-saft/src/hard_sphere/mod.rs
  feos-saft/src/lib.rs
  parameters/pcsaft/sauer2014_hetero.json
  parameters/pcsaft/sauer2014_homo.json
  src/gc_pcsaft/dft/association.rs
  src/gc_pcsaft/dft/dispersion.rs
  src/gc_pcsaft/dft/hard_chain.rs
  src/gc_pcsaft/dft/mod.rs
  src/gc_pcsaft/dft/parameter.rs
  src/gc_pcsaft/eos/association.rs
  src/gc_pcsaft/eos/dispersion.rs
  src/gc_pcsaft/eos/hard_chain.rs
  src/gc_pcsaft/eos/hard_sphere.rs
  src/gc_pcsaft/eos/mod.rs
  src/gc_pcsaft/eos/parameter.rs
  src/gc_pcsaft/eos/polar.rs
  src/gc_pcsaft/mod.rs
  src/gc_pcsaft/python/mod.rs
  src/gc_pcsaft/record.rs
  src/pcsaft/dft/dispersion.rs
  src/pcsaft/dft/hard_chain.rs
  src/pcsaft/dft/mod.rs
  src/pcsaft/dft/polar.rs
  src/pcsaft/dft/pure_saft_functional.rs
  src/pcsaft/eos/association.rs
  src/pcsaft/eos/dispersion.rs
  src/pcsaft/eos/hard_chain.rs
  src/pcsaft/eos/hard_sphere.rs
  src/pcsaft/eos/mod.rs
  src/pcsaft/eos/polar.rs
  src/pcsaft/eos/qspr.rs
  src/pcsaft/mod.rs
  src/pcsaft/parameters.rs
  src/pcsaft/python.rs
  src/pets/dft/mod.rs
  src/pets/dft/pure_pets_functional.rs
  src/python/dft.rs
  src/python/eos.rs
  tests/gc_pcsaft/dft.rs
  tests/pcsaft/dft.rs
  tests/pcsaft/test_parameters.json
Labels: DFT

#31 feos-dft Relase v0.3.0
  Cargo.toml
  feos-dft/CHANGELOG.md
  feos-dft/Cargo.toml
  feos-dft/README.md
  feos-saft/Cargo.toml
Labels: DFT

#25 Add missing rust documentation to public structs and modules
  Cargo.toml
  src/estimator/loss.rs
  src/estimator/mod.rs
  src/gc_pcsaft/mod.rs
  src/lib.rs
  src/pcsaft/mod.rs
  src/pets/dft/mod.rs
  src/pets/eos/mod.rs
  src/pets/mod.rs
  src/pets/parameters.rs
  src/uvtheory/eos/mod.rs
  src/uvtheory/mod.rs
  src/uvtheory/parameters.rs
Labels: documentation

#34 Add IdentifierOption to python modules
  src/gc_pcsaft/python/mod.rs
  src/pcsaft/python.rs
  src/pets/python.rs
  src/uvtheory/python.rs
Labels: pcsaft, gc-pcsaft, pets
