Repository feos-org/feos, pull requests merged in 2023-01, with the labels that each got.

#100 Theory guide: properties
  docs/theory/eos/index.md
  docs/theory/eos/properties.md
  feos-core/src/state/properties.rs
Labels: documentation, core

#107 Rename `molar_volume` and `ln_phi_pure`
  benches/state_properties.rs
  docs/theory/eos/properties.md
  docs/tutorials/eos/pcsaft/pcsaft_state.ipynb
  examples/pcsaft_state.ipynb
  feos-core/CHANGELOG.md
  feos-core/src/phase_equilibria/bubble_dew.rs
  feos-core/src/python/state.rs
  feos-core/src/state/properties.rs
  feos-dft/src/adsorption/mod.rs
Labels: core

#108 Minor cleanup of the PC-SAFT implementation
  benches/state_properties.rs
  src/association/mod.rs
  src/pcsaft/eos/polar.rs
  src/pcsaft/parameters.rs
Labels: pcsaft

#117 pDGT theory guide
  docs/theory/dft/index.md
  docs/theory/dft/pdgt.md
Labels: documentation, DFT

#119 Update pyO3 to 0.18
  CHANGELOG.md
  Cargo.toml
  feos-core/CHANGELOG.md
  feos-core/Cargo.toml
  feos-core/src/phase_equilibria/phase_diagram_pure.rs
  feos-core/src/python/joback.rs
  feos-core/src/python/parameter.rs
  feos-core/src/python/phase_equilibria.rs
  feos-core/src/python/state.rs
  feos-dft/CHANGELOG.md
  feos-dft/Cargo.toml
  feos-dft/src/python/adsorption/external_potential.rs
  feos-dft/src/python/interface/mod.rs
  feos-dft/src/python/profile.rs
  feos-dft/src/python/solvation.rs
  feos-dft/src/python/solver.rs
  src/association/python.rs
  src/gc_pcsaft/python/micelles.rs
  src/gc_pcsaft/python/mod.rs
  src/python/dft.rs
  src/python/eos.rs
  src/python/mod.rs
Labels: python, DFT, core

#104 Group contribution method for binary interaction parameters
  CHANGELOG.md
  feos-core/CHANGELOG.md
  feos-core/src/parameter/mod.rs
  feos-core/src/parameter/model_record.rs
  feos-core/src/python/cubic.rs
  feos-core/src/python/parameter.rs
  src/gc_pcsaft/eos/polar.rs
  src/pcsaft/parameters.rs
  src/uvtheory/python.rs
  tests/gc_pcsaft/binary.rs
Labels: pcsaft, gc-pcsaft

#114 Overhaul generation of Python objects for `EquationOfState.python`
  examples/lj_models.ipynb
  feos-core/CHANGELOG.md
  feos-core/src/python/mod.rs
  feos-core/src/python/statehd.rs
  feos-core/src/python/user_defined.rs
Labels: python, core

#130 Update installation section in the documentation
  docs/installation.md
Labels: documentation
