Repository feos-org/feos, pull requests merged in 2023-07, with the labels that each got.

#161 Make constructors in Parameter trait fallible
  CHANGELOG.md
  benches/contributions.rs
  benches/dual_numbers.rs
  feos-core/CHANGELOG.md
  feos-core/src/cubic.rs
  feos-core/src/parameter/mod.rs
  feos-core/src/python/parameter.rs
  feos-core/src/python/user_defined.rs
  src/association/mod.rs
  src/pcsaft/parameters.rs
  src/pets/parameters.rs
  src/pets/python.rs
  src/python/dft.rs
  src/python/eos.rs
  src/saftvrqmie/parameters.rs
  src/uvtheory/eos/mod.rs
  src/uvtheory/parameters.rs
  src/uvtheory/python.rs
Labels: core, breaking

#164 Revive PhaseEquilibrium::new_npt in the public interface
  feos-core/CHANGELOG.md
  feos-core/src/phase_equilibria/mod.rs
  feos-core/src/python/phase_equilibria.rs
Labels: enhancement, core

#166 Fixes for the bubble and dew point calculations
  feos-core/CHANGELOG.md
  feos-core/src/phase_equilibria/bubble_dew.rs
Labels: bug, core

#177 Removes `MolarWeight` trait and moves `molar_weight` method to `Residual`
  CHANGELOG.md
  benches/state_properties.rs
  docs/api/eos.md
  docs/api/gc_pcsaft.md
  docs/api/ideal_gas.md
  docs/api/index.md
  docs/api/pcsaft.md
  docs/api/peng_robinson.md
  docs/api/pets.md
  docs/api/saftvrqmie.md
  docs/theory/eos/properties.md
  feos-core/CHANGELOG.md
  feos-core/src/cubic.rs
  feos-core/src/equation_of_state/mod.rs
  feos-core/src/equation_of_state/residual.rs
  feos-core/src/joback.rs
  feos-core/src/lib.rs
  feos-core/src/phase_equilibria/vle_pure.rs
  feos-core/src/python/phase_equilibria.rs
  feos-core/src/python/state.rs
  feos-core/src/python/user_defined.rs
  feos-core/src/state/mod.rs
  feos-core/src/state/properties.rs
  feos-core/src/state/residual_properties.rs
  feos-core/src/state/statevec.rs
  feos-derive/src/dft.rs
  feos-derive/src/residual.rs
  feos-dft/src/adsorption/pore.rs
  feos-dft/src/functional.rs
  src/eos.rs
  src/estimator/diffusion.rs
  src/estimator/liquid_density.rs
  src/estimator/thermal_conductivity.rs
  src/estimator/viscosity.rs
  src/gc_pcsaft/dft/mod.rs
  src/gc_pcsaft/eos/mod.rs
  src/hard_sphere/dft.rs
  src/pcsaft/dft/mod.rs
  src/pcsaft/eos/mod.rs
  src/pets/dft/mod.rs
  src/pets/eos/mod.rs
  src/python/dft.rs
  src/python/eos.rs
  src/saftvrqmie/dft/mod.rs
  src/saftvrqmie/eos/mod.rs
  src/uvtheory/eos/mod.rs
  tests/pcsaft/dft.rs
Labels: core, breaking
